build/*
*.DS_Store
*/xcuserdata/*
BMD-X.xcodeproj/*
.DS_Store

BMD-X.xcodeproj/project.xcworkspace/xcuserdata/steve.xcuserdatad/UserInterfaceState.xcuserstate

BMD-X/MacBMD Data/.DS_Store

BMD-X.xcodeproj/xcuserdata/steve.xcuserdatad/xcschemes/xcschememanagement.plist

BMD-X.xcodeproj/xcuserdata/steve.xcuserdatad/xcschemes/Disk Image.xcscheme

BMD-X.xcodeproj/project.xcworkspace/xcuserdata/steve.xcuserdatad/UserInterfaceState.xcuserstate

BMD-X.xcodeproj/xcuserdata/steve.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

BMD-X.xcodeproj/xcuserdata/steve.xcuserdatad/xcschemes/BMD-X.xcscheme
